.overlay {
  position: absolute; 
  top: 100px; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 2rem; 
  z-index: 1000;
}

.close{
    position: absolute;
    top: 40px;
    right: 430px;
    font-size: 30px;
    background:transparent;
    border:none;
    cursor:pointer;
}

.box{
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 900px;
    height: 250px;
    background: lightgrey;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.468);
    border-radius: 20px;
    padding:20px;
    gap:10px;
}

.box input {
    width: 750px;
    font-size:20px;
    padding: 5px;
    border: 2px solid #56468f;
    border-radius:6px;
    background-color: gray;
}
.bio{
    font-size: 10px;
    height: 150px;
}

.saveChanges{
    font-size: 20px;
    border-radius: 10px;
}