.home_page {
  display: flex;
  flex-direction: column;
  background-color: #1b1533;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 100px 0;
  width: 100%;

  background: linear-gradient(
    135deg,
    #2b224c,
    #2b224c,
    #56468f,
    #56468f
  );
}
.logo {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.logo img {
  width: 300px;
  height: auto;
}

.left {
  transform: scaleX(-1);
}
.getStarted {
  margin-top: 50px;

  padding: 16px 40px;
  font-size: 18px;
  font-weight: 600;
  color: white;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  cursor: pointer;
  transition: all 0.3s ease;
}

.getStarted:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-3px);
}

.information{
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.leftColumn{
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 50px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  display:flex;
  align-items:center;
  flex-direction: column;
  width: 75%;
}
.leftColumn h1{
  padding: 10px;
}
.nextBook {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nextBook h2 {
  width: 500px;
}