.profile_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.profile_picture{
    width: 300px;
    height:300px;
    border-radius: 360px;
    border: 15px solid #2b224c;
}
.text_info{
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 500px;
    height: 525px;
    border-radius: 50px;
    background-color: #2b224c;
}
.text_info h1{
    padding-top: 15px;
}