.background {
    background-image: url("/readingroom.png");
    width: 100%;
    height: 100vh;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items:center;
}

.timer_box{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    width: 600px;
    height: 250px;

    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(5px);

    border-radius: 20px;
    padding:20px;
    gap:10px;
}
.buttons{
    display:flex;
    gap:15px;
}
.buttons button{
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  cursor: pointer;
  transition: all 0.3s ease;
} 

.buttons button:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-3px);
}