.overlay {
  position: absolute; 
  top: 100px; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 2rem; 
  z-index: 1000;
}

.box{
    display:flex;
    flex-direction: column;
    width: 900px;
    height: 500px;
    background: lightgrey;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.468);
    border-radius: 20px;
    padding:20px;
}
.close{
    position: absolute;
    top: 40px;
    right: 430px;
    font-size: 30px;
    background:transparent;
    border:none;
    cursor:pointer;
}
.search{
    display:flex;
    margin:10px;
    align-items:center;
    gap: 10px;
}
.search input{
    font-size:20px;
    padding: 5px;
    border: 2px solid #56468f;
    border-radius:6px;
    background-color: gray;
}
.search button{
    padding: 5px;
    font-size: 10px;
    background-color: gray;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.search button:hover {
  background-color: #005bb5;
}
.results{
    flex: 1;                 /* take remaining vertical space */
    width: 100%;             /* match parent width */
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 20px;        /* smaller spacing */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    color: rgb(44, 43, 43);
}
.bookItem{
    display:flex;
    gap:10px;
    align-items:flex-start;
    padding:10px;
    border-bottom:1px solid #eee;
}
.bookItem img{
    width: 50px;
    height:auto;
    border-radius:5px;
}