.page{
  padding-top :90px;
  display: relative;
  min-height: 100vh;
}
.menuContainer{
  position: fixed;
  top: 20px;
  right: 30px;
  margin-top: 100px;
}
.addButton{
  width: 60px;
  height: 60px;
  border-radius: 40px;
  border: none;
  background-color:#231c3b;
  cursor: pointer;
  transition: transform 0.3s;
}

.addButton:hover {
  background-color: #56468f;
}
.addButton img{
  transition: transform 0.3s;
}

.addButton.open img{
  transform: rotate(90deg);
}

.menuButtons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(-20px);
}

.menuButtons.open{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.menuButtons{
  margin-top: 30px;
  width: 100px;
  height: 70px;
  border-radius: 50%;
  border: 5px bold #231c3b;
  background-color: #56468f;
  color: white;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.topShelf, 
.Shelf{
  width: 100%;
  height: 300px;

  background-size: cover;
  background-position: center;

  flex-shrink: 0;
  flex-grow: 0;
}

.topShelf{
    background-image: url("/middle-shelf.png");
}
.Shelf{
  background-image: url("/middle-shelf.png");
}