.page{
  padding-top :90px;
  display: relative;
  min-height: 100vh;
}
.menuContainer{
  position: fixed;
  top: 20px;
  right: 30px;
  margin-top: 100px;
}
.addButton{
  width: 60px;
  height: 60px;
  border-radius: 40px;
  border: none;
  background-color:#231c3b;
  cursor: pointer;
  transition: transform 0.3s;
}

.addButton:hover {
  background-color: #56468f;
}
.addButton img{
  transition: transform 0.3s;
}

.addButton.open img{
  transform: rotate(90deg);
}

.menuButtons {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
}

.menuButtons.open {
    opacity: 1;
    transform: translateY(0);
}

.menuButtons button{
  background-color: #56468f;
  padding: 10px;
  width: 125px;
  border: 5px solid #231c3b;
  border-radius: 10%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;          /* remove default button border */
  margin-top: 15px; 
}
.menuButtons button:hover{
  background-color:#7861cb;
}

.topShelf, 
.Shelf{
  width: 100%;
  height: 300px;

  background-size: cover;
  background-position: center;

  flex-shrink: 0;
  flex-grow: 0;
}

.topShelf{
    background-image: url("/middle-shelf.png");
}
.Shelf{
  background-image: url("/middle-shelf.png");
}