.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.topShelf, 
.middleShelf,
.bottomShelf{
  width: 100%;
  height: 300px;

  background-size: cover;
  background-position: center;

}

.topShelf{
    margin-top: 90px;
    background-image: url("/top-shelf.png");
}
.middleShelf{
    background-image: url("/middle-shelf.png");
}
.bottomShelf{
    background-image: url("/bottom-shelf.png");
}