.overlay {
  position: absolute; 
  top: 100px; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 2rem; 
  z-index: 1000;
}

.signIn h1{
    margin: 0;
    text-align: center;
}
.signIn input{
  margin: 10px;        /* less spacing */
  padding: 6px 10px;     /* smaller inside space */
  width: 200px;          /* fixed smaller width */
  font-size: 14px;       /* slightly smaller text */

  border-radius: 10px;
  border: 2px solid #2b224c;
}    

.signIn button{
  padding: 0.5rem;
  background-color: #56468f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signIn button:hover{
    background-color: #2b224c;
}

.signIn form p{
  color: red;
  margin: 0;
  text-align: center;
}

.signUp{
  margin-left: 60px;
}
.signUp button {
  margin: 5px;
}